html,
body {
    background-color: #FFFFFF;
    font-family: Sofia;
    font-size: small;
    color: #000000;
    background: linear-gradient(to top, #fff, #fff );
    display: flex;
    justify-content: center;
    align-items: center;\
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.15; /* 2 */
    -ms-text-size-adjust: 100%; /* 3 */
}

footer,
header {
  display: block;
}

* Add the correct font style in Android 4.3-.
*/
dfn {
 font-style: italic;
}
/**
* Add the correct background and color in IE 9-.
*/
/**
 * Add the correct display in iOS 4-7.
 */

input{
  font-family: Amaranth; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

legend {
  box-sizing: border-box; /* 1 */
  color: #05396B; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  padding-left: 4px;
  white-space: normal; /* 1 */
  width: 300px;
  text-align: center;
  font-family: Amaranth;
  font-size: 19px;
  margin-bottom: 15px;
  letter-spacing: 2px;
  word-spacing: 7px;
}

fieldset {
  border: 2px solid #4db6ac;
  margin: 0 2px;
  padding: 0.55em 1.925em 1.05em;
}

[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

.upload {
  position: relative;
  width: 400px;
  min-height: 445px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0px 10px #4db6ac;
  padding-bottom: 5px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-animation: fadeup .5s .5s ease both;
  animation: fadeup .5s .5s ease both;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}
.upload .upload-files header {
  background: #4db6ac;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
.upload .upload-files footer {
  width: 100%;
  margin: 0 auto;
  height: 0;
}
.upload .upload-files footer .divider {
  margin: 0 auto;
  width: 0;
  border-top: solid 4px #46aba1;
  text-align: center;
  overflow: hidden;
  transition: width .5s ease;
}
.upload .upload-files footer .divider span {
  display: inline-block;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  font-size: 22px;
  font-family: 'Amaranth';
  color: #05396B;
  padding-top: 8px;
}
.upload .upload-files footer .list-files {
  width: 320px;
  margin: 0 auto;
  margin-top: 15px;
  padding-left: 5px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 210px;
}
.upload .upload-files footer .list-files::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 211, 0.25);
}
.upload .upload-files footer .list-files::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(211, 211, 211, 0.25);
}
.upload .upload-files footer .list-files::-webkit-scrollbar-thumb {
  background-color: rgba(77, 182, 172, 0.5);
}
.upload .upload-files footer .importar {
  outline: none;
  position: sticky;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  border: solid 2px #4db6ac;
  color: #4db6ac;
  background: transparent;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 5px;
  font-family: 'Sofia';
  line-height: 1;
  cursor: pointer;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
  font-weight: bold;
  color: #05396B;
}
.upload .upload-files footer .importar:hover {
  background: #4db6ac;
  color: #fff;
}
@-webkit-keyframes fadeup {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeup {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 400px) {
  .upload {
    width: 100%;
    height: 100%;
  }
}

#name1 {
      background-color: #FFFFFF;
      font-family: Sofia;
      font-size: 20px;
      color: #05396B;
      font-weight: bold;
      margin-top: 50px;
      vertical-align: middle;
}
#file-picker{
  width: auto;
  max-width: 380px;
  white-space: nowrap;
  overflow: hidden;
  background-color: #ffffff;
  border: 2px solid rgba(77, 182, 172, 0.56);
  border-radius: 5px;
  color: #05396B;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 35px;
}
#upload-button{
  background: #fff;
  border: 2px solid #4db6ac;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 7px;
  color: #05396B;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Amaranth';
  font-size: 13px;
}
#body-elements{
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.progress-trough {
    border: 2px solid #4db6ac;
    height: 24px;
    width: 100%;
    position: relative;
    border-radius: 3px;
    transition:;
}

.progress-bar {
    color: white;
    width: 50%;
    height: 100%;
    text-align: left;
    border-radius: 1px;
    font-size: 19px;
    font-family: Amaranth;
    background: #05396b;
}

#progress{
  background: #fff;
  margin-top: 55px;
}

#done-btn{
  background: #fff;
  margin-left: 40%;
  margin-right: 45%;
  border: 2px solid #4db6ac;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 7px;
  color: #05396B;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Amaranth';
  font-size: 15px;
  margin-top: 15px;
}

#Thanks-note{
  background: transparent;
  margin: 22px 30px;
  text-align: center;
  font-size: 18px;
  color: #05396b;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
}
